body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}


.adamologo {
    width: 5em;
}

/* Nav-link */
.nav-link {
    color: aqua;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    /* color: var(--bs-navbar-active-color); */
    color: cyan;
}

.dropdown-item {
    background-color: indigo;
}

main {
    min-height: 80vh;
}

.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #f8e825;
}

.rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}

.vehicule-title {
    height: 2.5em;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow content */
    text-overflow: ellipsis;
    /* Add ellipsis for long text */
    white-space: nowrap;
    /* Prevent wrapping */
}

table td,
table th {
    text-align: center;
}

.review {
    margin-top: 30px;
}

.review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.review button {
    margin-top: 10px;
}

/* .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
} */

.role {
    /* background-color: #0978dd; */
    /* background-color: #18bc9c; */
    background: #e6e9eb;
    /* background-color: #3498db; */
    color: #ddd;
    /* color: #f8e825; */
    border-radius: 17px;
    margin: auto;
    color: "black"
}

.features {
    margin-top: 1rem;
    line-height: 1;
}


/* .list-group-item {
    border-radius: 5px;
} */



/* .image-gallery-slide .image-gallery-image {
    width: 100%;
    object-fit: cover !important;
} */

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 0px) !important;
}

/* .descript {
    position: relative;
    left: 5rem;
} */


.card-img,
.card-img-top,
.card-img-bottom {
    object-fit: cover;
    height: 40vh;
}

#username {
    font-weight: 200;
    color: aliceblue;
}

/* .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
} */

.caption-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #02134a8e;
    /* background-color: rgba(3, 0, 0, 0.5); */
    /* background-color: hsla(226, 86%, 6%, 0.555); */
    /* Semi-transparent background */
    color: #fff;
    /* White text color */
    padding: 1rem;
    display: flex;
    /* Center content horizontally */
    justify-content: center;
    align-items: center;
}


.image-slider {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: -1rem;
}

.slick-slider {
    margin-bottom: 3em;
}

/* Button ajouter au panier */
.ajouter {
    display: none;
}

/* .list-group-flush>.list-group-item:last-child {
    display: none;
} */

.servicetitle {
    border: 0.03em dashed rgb(2, 2, 32);
    color: rgb(2, 2, 32);
    padding: 1em;
    width: 90%;
    margin: auto;
}

.flip-card {
    width: 100%;
    perspective: 1000px;
    padding: 0.7em;
    min-height: 9rem;
    /* border: 0.03em solid rgb(2, 2, 32); */
    color: rgb(2, 2, 32);
}

div.information-banner {
    /* Base styles */
    width: 100%;
    position: absolute;
    /* bottom: 1rem; */
    top: 14rem;
    left: 50%;
    right: 3rem;
    transform: translateX(-50%);
    padding: 1rem;
    /* background-color: rgba(3, 0, 0, 0.5); */
    background-color: hsla(226, 86%, 6%, 0.555);
    color: white;
    /* Light gray background */
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    /* border-radius: 1px; */
    /* Rounded corners */
    width: fit-content;
    /* Adjust width as needed */
    /* max-width: 80%; */
    /* Limit maximum width */
    display: flex;
    /* Allow horizontal layout */
    flex-direction: row;
    /* Stack elements vertically */
    align-items: center;
    /* Center content horizontally */
    justify-content: space-evenly;
    /* Distribute content vertically with spacing */

    /* Animation overrides (optional) */
    transition: transform 0.5s ease-in-out;
    /* Smooth transition */
    z-index: 99;

    h2 {
        margin: 0;
        /* Remove top margin */
        font-size: 1rem;
        /* Smaller heading size */
        font-weight: bold;
        /* Bold text */
    }

    p {
        margin: 0.5rem 0;
        /* Small margin between paragraphs */
        font-size: 0.8rem;
        /* Smaller paragraph size */
    }
}

/* .form-contact {
    background-color: goldenrod;
} */

/* Flip card */
.flip-card {
    width: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    min-height: 80%;
    /* line-height: 1; */
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* Increased padding */
    border-radius: 15px;
    /* Slightly increased border-radius for smoother corners */
    color: #333;
    /* Improved text color for better contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Added box-shadow for depth */
}

.flip-card-front {
    background-color: #ffffff;
    /* Light background color for the front */
}

.flip-card-back {
    background-color: #f0f0f0;
    /* Slightly modified background color for the back */
    transform: rotateY(180deg);
}

/* flip card end */

.form-contact {
    /* background-color: #000f3f; */
    background-color: #336863;
    padding: 0 8rem 0 8rem
        /* Add some padding if needed */
}

.cookie-policy-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.cookie-policy-popup p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.cookie-policy-popup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

footer.goldenrod {
    background-color: #10374D;
}


@media (max-width: 768px) {

    /* Styles for smaller screens (e.g., adjust padding) */
    .flip-card-front,
    .flip-card-back {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* Styles for medium screens */
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* Styles for large screens */
}

@media (min-width: 1200px) {

    /* Styles for very large screens (e.g., apply max-width) */
    .flip-card {
        max-width: 600px;
        /* Adjust as needed */
    }
}