body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}


.adamologo {
    width: 5em;
}

main {
    min-height: 80vh;
}

.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #f8e825;
}

.rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}

.vehicule-title {
    height: 2.5em;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow content */
    text-overflow: ellipsis;
    /* Add ellipsis for long text */
    white-space: nowrap;
    /* Prevent wrapping */
}

table td,
table th {
    text-align: center;
}

.review {
    margin-top: 30px;
}

.review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.review button {
    margin-top: 10px;
}

/* .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
} */

.role {
    /* background-color: #0978dd; */
    /* background-color: #18bc9c; */
    background: #e6e9eb;
    /* background-color: #3498db; */
    color: #ddd;
    /* color: #f8e825; */
    border-radius: 17px;
    margin: auto;
    color: "black"
}

.features {
    margin-top: 1rem;
    line-height: 1;
}


/* .list-group-item {
    border-radius: 5px;
} */



/* .image-gallery-slide .image-gallery-image {
    width: 100%;
    object-fit: cover !important;
} */

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 0px) !important;
}

/* .descript {
    position: relative;
    left: 5rem;
} */


.card-img,
.card-img-top,
.card-img-bottom {
    object-fit: cover;
    height: 40vh;
}

#username {
    font-weight: 200;
    color: aliceblue;
}

/* .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
} */

.caption-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #02134a8e;
    /* background-color: rgba(3, 0, 0, 0.5); */
    /* background-color: hsla(226, 86%, 6%, 0.555); */
    /* Semi-transparent background */
    color: #fff;
    /* White text color */
    padding: 1rem;
    display: flex;
    /* Center content horizontally */
    justify-content: center;
    align-items: center;
}

div.information-banner {
    /* Base styles */
    width: 100%;
    position: absolute;
    /* bottom: 1rem; */
    top: 14rem;
    left: 50%;
    right: 3rem;
    transform: translateX(-50%);
    padding: 1rem;
    /* background-color: rgba(3, 0, 0, 0.5); */
    background-color: hsla(226, 86%, 6%, 0.555);
    color: white;
    /* Light gray background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    border-radius: 5px;
    /* Rounded corners */
    width: fit-content;
    /* Adjust width as needed */
    /* max-width: 80%; */
    /* Limit maximum width */
    display: flex;
    /* Allow horizontal layout */
    flex-direction: row;
    /* Stack elements vertically */
    align-items: center;
    /* Center content horizontally */
    justify-content: space-evenly;
    /* Distribute content vertically with spacing */

    /* Animation overrides (optional) */
    transition: transform 0.5s ease-in-out;
    /* Smooth transition */
    z-index: 99;

    h2 {
        margin: 0;
        /* Remove top margin */
        font-size: 1rem;
        /* Smaller heading size */
        font-weight: bold;
        /* Bold text */
    }

    p {
        margin: 0.5rem 0;
        /* Small margin between paragraphs */
        font-size: 0.8rem;
        /* Smaller paragraph size */
    }
}

.cookie-policy-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.cookie-policy-popup p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.cookie-policy-popup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

footer.goldenrod {
    background-color: crimson;
}